
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">分子结构搜索</h4>
            </div>
            <div class="modal-body">
                <iframe id="ketcherFrame" name="ketcherFrame" class="structure_search_iframe center-block"
                        src="ketcher/ketcher.html" scrolling="no"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">精确搜索</button>
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">子结构搜索</button>
            </div>
        </div>
    </div>
</div>
