
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <image width="107" height="53" src="img/logo444.png">
            </image>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
                <li><a href="#fakelink">产品</a></li>
                <li><a href="#fakelink">我们的价值</a></li>
                <li><a href="view/login.html" class="fui-user">登录</a></li>
            </ul>

            <button class="btn btn-primary btn-xs navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">
                分子结构搜索
            </button>


        </div>
    </div>
</nav>