<!--=== search condition ===-->
<div class="row row-bg"> <!-- .row-bg -->
    <div class="col-sm-12 col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> 预算</h4>

            </div>
            <div class="widget-content">
                <form class="form-horizontal row-border" id="validate-1" action="table_chembohtml" target="_self"
                      novalidate="novok.alidate">
                    <div class="form-group">

                        <label class="col-md-2 control-label">总预算</label>

                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">￥</span>
                                <input type="text" name="req1" placeholder="总预算" class="form-control">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">子预算总额 </label>

                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">￥</span>
                                <input type="text" name="req1" placeholder="总预算" class="form-control">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">子预算-化学药品-总额 </label>

                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">￥</span>
                                <input type="text" name="req1" placeholder="总预算" class="form-control">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="button" value="提交" class="btn btn-primary btn-block center-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- /condition -->