<div class="crumbs">
    <ul id="breadcrumbs" class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#">申购管理</a>
        </li>
        <li class="current">
            <a href="#" title="">比价询价</a>
        </li>
    </ul>

    <ul class="crumb-buttons">
        <li class="first"><a href="#" title=""><i class="icon-signal"></i><span>数据</span></a></li>
        <li class="dropdown"><a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>供应商 <strong>(+3)</strong></span><i
                class="icon-angle-down left-padding"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a href="#" title=""><i class="icon-plus"></i>韶远化学</a></li>
                <li><a href="#" title=""><i class="icon-reorder"></i>strazeneca</a></li>
            </ul>
        </li>
        <li class="range"><a href="#">
            <i class="icon-calendar"></i>
            <span>January 31, 2014 - March 1, 2014</span>
            <i class="icon-angle-down"></i>
        </a></li>
    </ul>
</div>