<!-- Header -->
<header class="header navbar navbar-fixed-top" role="banner">
    <!-- Top Navigation Bar -->
    <div class="container-fluid">
        <!-- Only visible on smartphones, menu toggle -->
        <!-- Logo -->
        <a class="navbar-brand navbar-left hidden-xs hidden-sm hidden-md" href="index_melo.html">
            <img src="fudan.png" alt="logo" class="logo"/>
        </a>
        <!-- Sidebar Toggler -->
        <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="关闭或者显示侧边栏">
            <i class="icon-reorder"></i>
            <!-- /Sidebar Toggler -->
        </a>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#">
                    报价（2）
                    <i class="icon-caret-down small"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    采购清单（4）
                    <i class="icon-caret-down small"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="shop_cart.html"><i class="icon-user"></i>采购数据信息 #1</a></li>
                    <li><a href="shop_cart.html"><i class="icon-calendar"></i> 采购数据信息 #2</a></li>
                    <li class="divider"></li>
                    <li><a href="shop_cart.html"><i class="icon-tasks"></i> 采购数据信息 #3</a></li>
                </ul>
            </li>
        </ul>

        <!-- /Top Right Menu -->
        <ul class="nav navbar-nav navbar-right">
            <!-- Notifications -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-warning-sign"></i>
                    <span class="badge">5</span>
                </a>
                <ul class="dropdown-menu extended notification">
                    <li class="title">
                        <p>您有五个新的消息</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="label label-success"><i class="icon-plus"></i></span>
                            <span class="message">盐酸已经到货</span>
                            <span class="time">1分钟以前</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="label label-danger"><i class="icon-warning-sign"></i></span>
                            <span class="message">高锰酸钾快要没有库存了</span>
                            <span class="time">5分钟以前</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="label label-success"><i class="icon-plus"></i></span>
                            <span class="message">苯已经用完了</span>
                            <span class="time">10分钟以前</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="label label-info"><i class="icon-bullhorn"></i></span>
                            <span class="message">采购部门全体会议</span>
                            <span class="time">25分钟以前</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="label label-warning"><i class="icon-bolt"></i></span>
                            <span class="message">领导视察</span>
                            <span class="time">55分钟以前</span>
                        </a>
                    </li>
                    <li class="footer">
                        <a href="javascript:void(0);">查看所有通知</a>
                    </li>
                </ul>
            </li>

            <!-- Messages -->
            <li class="dropdown hidden-xs hidden-sm">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-envelope"></i>
                    <span class="badge">1</span>
                </a>
                <ul class="dropdown-menu extended notification">
                    <li class="title">
                        <p>您有三条新的信息</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="photo"><img src="assets/img/demo/avatar-1.jpg" alt=""/></span>
                                <span class="subject">
                                <span class="from">Bob Carter</span>
                                <span class="time">刚刚</span>
                                </span>
                                <span class="text">
                                美国来的最新化学试剂收到了吗？
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="photo"><img src="assets/img/demo/avatar-2.jpg" alt=""/></span>
                                <span class="subject">
                                <span class="from">王任</span>
                                <span class="time">45 分钟以前</span>
                                </span>
                                <span class="text">
                                系统维护，请提前完成工作，谢谢配合。
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="photo"><img src="assets/img/demo/avatar-3.jpg" alt=""/></span>
                                <span class="subject">
                                <span class="from">刘博士</span>
                                <span class="time">6 个小时以前</span>
                                </span>
                                <span class="text">
                                请清点残留化学物质
                                </span>
                        </a>
                    </li>
                    <li class="footer">
                        <a href="javascript:void(0);">查看所有消息</a>
                    </li>
                </ul>
            </li>

            <!-- User Login Dropdown -->
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!--<img alt="" src="assets/img/avatar1_small.jpg" />-->
                    <i class="icon-male"></i>
                    <i class="icon-caret-down small"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="pages_user_profile.html"><i class="icon-user"></i> 我的帐号</a></li>
                    <li><a href="pages_calendar.html"><i class="icon-calendar"></i> 我的日历</a></li>
                    <li><a href="#"><i class="icon-tasks"></i> 我的任务</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="icon-key"></i> 退出</a></li>
                </ul>
            </li>
            <!-- /user login dropdown -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- .row .row-bg Toggler -->
            <li>
                <a href="#" class="dropdown-toggle row-bg-toggle">
                    高级搜索
                    <i class="icon-resize-vertical"></i>
                </a>
            </li>
            <li>
                <a href="#" class="dropdown-toggle struct-search-toggle">
                    结构搜索
                    <i class="icon-resize-vertical"></i>
                </a>
            </li>
        </ul>
        <form class="nav navbar-nav navbar-form navbar-right" action="table_chembook.html" target="_self"
              style="width:300px;" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入CAS，名称等">
                        <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="glyphicon glyphicon-search">快捷搜索</span></button>
                        </span>
                </div>
            </div>
        </form>
        <div class="nav navbar-nav navbar-form navbar-right"></div>
        <!-- Top Right Menu -->
    </div>
    <!-- /top navigation bar -->
</header>
<!-- /.header -->