<div id="sidebar" class="sidebar-fixed">
    <div id="sidebar-content">
        <!-- Search Input -->
        <form class="sidebar-search">
            <div class="input-box">
                <button type="submit" class="submit">
                    <i class="icon-search"></i>
                </button>
        <span>
            <input type="text" placeholder="搜索菜单...">
        </span>
            </div>
        </form>

        <!--=== Navigation ===-->
        <ul id="nav">
            <li>
                <a href="javascript:void(0);">
                    <i class="icon-desktop"></i>
                    申购管理
                    <span class="label label-info pull-right">6</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_chembook">
                            <i class="icon-angle-right"></i>
                            比价询价
                        </a>
                    </li>
                    <li>
                        <a href="history_buy_list.html">
                            <i class="icon-angle-right"></i>
                            历史申购记录
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-angle-right"></i>
                            订单管理
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="icon-edit"></i>
                    审批管理
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="current_review.html">
                            <i class="icon-angle-right"></i>
                            当前审批
                        </a>
                    </li>
                    <li>
                        <a href="history_review.html">
                            <i class="icon-angle-right"></i>
                            历史审批记录
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-table"></i>
                    分析统计
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="analysis_month.html">
                            <i class="icon-angle-right"></i>
                            按月份统计
                        </a>
                    </li>
                    <li>
                        <a href="analysis_vendor.html">
                            <i class="icon-angle-right"></i>
                            按供应商统计
                        </a>
                    </li>
                    <li>
                        <a href="mychart.html">
                            <i class="icon-angle-right"></i>
                            按项目统计
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="icon-folder-open-alt"></i>
                    财务管理
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">
                            <i class="icon-angle-right"></i>
                            预算制定
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-angle-right"></i>
                            支付管理
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="icon-folder-open-alt"></i>
                    库存管理
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">
                            <i class="icon-angle-right"></i>
                            入库管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-angle-right"></i>
                            出入管理
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-angle-right"></i>
                            库存管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /Navigation -->
        <div class="sidebar-title">
            <span>通知栏</span>
        </div>
        <ul class="notifications demo-slide-in">
            <!-- .demo-slide-in is just for demonstration purposes. You can remove this. -->
            <li style="display: none;">
                <!-- style-attr is here only for fading in this notification after a specific time. Remove this. -->
                <div class="col-left">
                    <span class="label label-danger"><i class="icon-warning-sign"></i></span>
                </div>
                <div class="col-right with-margin">
                    <span class="message"><strong>盐酸</strong>已经到货</span>
                    <span class="time">1 分钟以前</span>
                </div>
            </li>
            <li style="display: none;">
                <!-- style-attr is here only for fading in this notification after a specific time. Remove this. -->
                <div class="col-left">
                    <span class="label label-info"><i class="icon-envelope"></i></span>
                </div>
                <div class="col-right with-margin">
                    <span class="message"><strong>采购部门</strong>全体会议</span>
                    <span class="time">25分钟以前</span>
                </div>
            </li>
            <li>
                <div class="col-left">
                    <span class="label label-success"><i class="icon-plus"></i></span>
                </div>
                <div class="col-right with-margin">
                    <span class="message"><strong>高锰酸钾</strong>快要没有库存了</span>
                    <span class="time">55分钟以前</span>
                </div>
            </li>
        </ul>
        <div class="sidebar-widget align-center">
            <div class="btn-group" data-toggle="buttons" id="theme-switcher">
                <label class="btn active">
                    <input type="radio" name="theme-switcher" data-theme="bright"><i class="icon-sun"></i> 浅色
                </label>
                <label class="btn">
                    <input type="radio" name="theme-switcher" data-theme="dark"><i class="icon-moon"></i> 深色
                </label>
            </div>
        </div>
    </div>
    <div id="divider" class="resizeable"></div>
</div>