<!DOCTYPE html>
<html lang="en">
<head>
<% include  partials/melo/header.html %>
<head>
<body>

<% include  partials/melo/navbar.html %>

<div id="container">
<% include  partials/melo/sidebar.html %>

<!-- /Sidebar -->
<div id="content">
<div class="container">
<% include  partials/melo/crumbs.html %>
<!--=== Page Content ===-->
<% include  partials/melo/search.html %>

<div class="row">
<!--=== Calendar ===-->
<div class="col-md-6">
    <div class="widget">
        <div class="widget-header">
            <h4><i class="icon-calendar"></i> 采购日历信息</h4>
        </div>
        <div class="widget-content">
            <div id="calendar"></div>
        </div>
    </div>
    <!-- /.widget box -->
</div>
<!-- /.col-md-6 -->
<!-- /Calendar -->
<!--=== Feeds (with Tabs) ===-->
<div class="col-md-6">
<div class="widget">
<div class="widget-header">
    <h4><i class="icon-reorder"></i> 最新消息</h4>

    <div class="toolbar no-padding">
        <div class="btn-group">
            <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
            <span class="btn btn-xs widget-refresh"><i class="icon-refresh"></i></span>
        </div>
    </div>
</div>
<div class="widget-content">
<div class="tabbable tabbable-custom">
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab_feed_1" data-toggle="tab">供应商</a></li>
    <li><a href="#tab_feed_2" data-toggle="tab">采购订单</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab_feed_1">
<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0">
<ul class="feeds clearfix">
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-success">
                    <i class="icon-bell"></i>
                </div>
            </div>
            <div class="content-col2">
                <div class="desc">韶远推出新品</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">
            刚刚
        </div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-success"><i class="icon-plus"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">韶远已经发出您的采购物品</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">20分钟以前</div>
    </div>
    <!-- /.col2 -->
</li>
<li class="hoverable">
    <a href="javascript:void(0);">
        <div class="col1">
            <div class="content">
                <div class="content-col1">
                    <div class="label label-info"><i class="icon-bullhorn"></i></div>
                </div>
                <div class="content-col2">
                    <div class="desc">New items are in queue.</div>
                </div>
            </div>
        </div>
        <!-- /.col1 -->
        <div class="col2">
            <div class="date">25 mins ago</div>
        </div>
        <!-- /.col2 -->
    </a>
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-danger"><i class="icon-warning-sign"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">采购订单-高锰酸钾...-没有获得批准<span class="label label-danger label-mini">重新采购<i
                        class="icon-share-alt"></i></span></div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">30分钟以前</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-warning"><i class="icon-bolt"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">入库信息需要核实</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">45分钟以前</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-success"><i class="icon-plus"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">请准备发票-盐酸准备入库</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">1个小时以前</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-default"><i class="icon-time"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">昨日采购订单已经获得批准</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">1个半小时以前</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-info"><i class="icon-bullhorn"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">Download finished.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">1.8 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-success"><i class="icon-plus"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">New order received.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">2 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-info"><i class="icon-bullhorn"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">Download finished.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">3 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-success"><i class="icon-plus"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">New order received.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">5 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-info"><i class="icon-bullhorn"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">Download finished.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">5.5 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-success"><i class="icon-plus"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">New order received.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">7 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-info"><i class="icon-bullhorn"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">Download finished.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">16 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
<li>
    <div class="col1">
        <div class="content">
            <div class="content-col1">
                <div class="label label-success"><i class="icon-plus"></i></div>
            </div>
            <div class="content-col2">
                <div class="desc">New order received.</div>
            </div>
        </div>
    </div>
    <!-- /.col1 -->
    <div class="col2">
        <div class="date">20 hours ago</div>
    </div>
    <!-- /.col2 -->
</li>
</ul>
<!-- /.feeds -->
</div>
<!-- /.scroller -->
</div>
<!-- /#tab_feed_1 -->
<div class="tab-pane" id="tab_feed_2">
    <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0">
        <ul class="feeds clearfix">
            <li>
                <div class="col1">
                    <div class="content">
                        <div class="content-col1">
                            <div class="label label-success"><i class="icon-plus"></i></div>
                        </div>
                        <div class="content-col2">
                            <div class="desc">有新的采购需求-实验室1需要盐酸</div>
                        </div>
                    </div>
                </div>
                <!-- /.col1 -->
                <div class="col2">
                    <div class="date">1分钟以前</div>
                </div>
                <!-- /.col2 -->
            </li>
            <li>
                <div class="col1">
                    <div class="content">
                        <div class="content-col1">
                            <div class="label label-success"><i class="icon-plus"></i></div>
                        </div>
                        <div class="content-col2">
                            <div class="desc">新的采购需求-实验室2需要烧瓶</div>
                        </div>
                    </div>
                </div>
                <!-- /.col1 -->
                <div class="col2">
                    <div class="date">5分钟以前</div>
                </div>
                <!-- /.col2 -->
            </li>
        </ul>
        <!-- /.feeds -->
    </div>
    <!-- /.scroller -->
</div>
<!-- /#tab_feed_1 -->
</div>
<!-- /.tab-content -->
</div>
<!-- /.tabbable tabbable-custom-->
</div>
<!-- /.widget-content -->
</div>
<!-- /.widget .box -->
</div>
<!-- /.col-md-6 -->
<!-- /Feeds (with Tabs) -->
</div>
<!-- /.row -->
<!-- /Page Content -->
</div>
<!-- /.container -->
</div>
</div>
</body>
</html>
