<!DOCTYPE html>
<html lang="en">
<head>
<% include  partials/melo/header.html %>
</head>
<body>

<% include  partials/melo/navbar.html %>
<div id="container">
<% include  partials/melo/sidebar.html %>
<div id="content">
<div class="container">

<% include  partials/melo/crumbs.html %>
<!--=== Page Content ===-->
<% include  partials/melo/search.html %>

<table width="100%" align="left">
<tbody>
<tr>
<td>
<table class="mid">
    <tbody>
    <tr>
        <td class="fbox">
            <img alt="" src="771-50-6.gif" onload="setpicWH(this,140,90)" width="101" height="82"
                 style="display: block;">
            <br>
            <a style="font-size:9pt;" href="771-50-6.gif">PreView</a>
        </td>
        <td>
            <table class="mbox">
                <tbody>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">英文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">3-Indoleformic
                        acid</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">中文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#"><font
                            color="#ff0000">吲哚-3-羧酸</font></a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MF：</font></td>
                    <td>C9H7NO2</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MW：</font></td>
                    <td>161.16</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">CAS：</font></td>
                    <td>771-50-6</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MOL：</font></td>
                    <td><a href="CAS\MOL\771-50-6.mol">Mol file</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="sbox" style="font-size:10pt;">
            <ul class="actionspro">
                <li>
                    <a target="_blank" href="ProdSupplierGNCB4416867.htm">国内供应商(132)</a>
                </li>
                <li>
                    <a target="_blank" href="ProdSupplierGWCB4416867.htm">国外供应商(107)</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB4416867.htm">化学性质</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB4416867.htm#MSDSA">MSDS(4)</a>
                </li>
                <li>
                    <a target="_self" class="btn btn-info btn-xs" href="compare_price.html">查询比价</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table class="mid">
    <tbody>
    <tr>
        <td class="fbox">
            <img alt="" src="858515-66-9.gif" onload="setpicWH(this,140,90)" width="114" height="70"
                 style="display: block;">
            <br>
            <a style="font-size:9pt;" href="858515-66-9.gif">PreView</a>
        </td>
        <td>
            <table class="mbox">
                <tbody>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">英文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">1H-INDOLE-3-CARBOXYLIC
                        ACID,7-FLUORO</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">中文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">7-氟-1H-吲哚-3-羧酸</a>
                    </td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MF：</font></td>
                    <td>C9H6FNO2</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MW：</font></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">CAS：</font></td>
                    <td>858515-66-9</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MOL：</font></td>
                    <td><a href="CAS\MOL\858515-66-9.mol">Mol file</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="sbox" style="font-size:10pt;">
            <ul class="actionspro">
                <li>
                    <a target="_blank" href="ProdSupplierGNCB02459862.htm">国内供应商(5)</a>
                </li>
                <li>
                    <a target="_blank" href="ProdSupplierGWCB02459862.htm">国外供应商(0)</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB02459862.htm">化学性质</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB02459862.htm#MSDSA">MSDS(0)</a>

                </li>
                <li>
                    <a target="_blank" class="btn btn-primary btn-xs" href="compare_price.html">查询比价</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table class="mid">
    <tbody>
    <tr>
        <td class="fbox">
            <img alt="" src="91913-76-7.gif" onload="setpicWH(this,140,90)" height="90" width="89"
                 style="display: block;">
            <br>
            <a style="font-size:9pt;" href="91913-76-7.gif">PreView</a>
        </td>
        <td>
            <table class="mbox">
                <tbody>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">英文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">1-methoxyindole-3-carboxylic
                        acid</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">中文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">1-甲氧基吲哚-3-羧酸</a>
                    </td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MF：</font></td>
                    <td>C10H9NO3</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MW：</font></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">CAS：</font></td>
                    <td>91913-76-7</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MOL：</font></td>
                    <td><a href="CAS\MOL\91913-76-7.mol">Mol file</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="sbox" style="font-size:10pt;">
            <ul class="actionspro">
                <li>
                    <a target="_blank" href="ProdSupplierGNCB61340455.htm">国内供应商(1)</a>
                </li>
                <li>
                    <a target="_blank" href="ProdSupplierGWCB61340455.htm">国外供应商(0)</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB61340455.htm">化学性质</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB61340455.htm#MSDSA">MSDS(0)</a>
                </li>
                <li>
                    <a target="_blank" class="btn btn-primary btn-xs" href="compare_price.html">查询比价</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table class="mid">
    <tbody>
    <tr>
        <td class="fbox">
            <img alt="" src="23872-36-8.gif" onload="setpicWH(this,140,90)" width="121" height="88"
                 style="display: block;">
            <br>
            <a style="font-size:9pt;" href="23872-36-8.gif">PreView</a>
        </td>
        <td>
            <table class="mbox">
                <tbody>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">英文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">4-CHLOROINDOLE-3-CARBOXYLIC
                        ACID</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">中文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">4-CHLOROINDOLE-3-CARBOXYLIC
                        ACID</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MF：</font></td>
                    <td>C9H6ClNO2</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MW：</font></td>
                    <td>195.6</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">CAS：</font></td>
                    <td>23872-36-8</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MOL：</font></td>
                    <td><a href="CAS\MOL\23872-36-8.mol">Mol file</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="sbox" style="font-size:10pt;">
            <ul class="actionspro">
                <li>
                    <a target="_blank" href="ProdSupplierGNCB7168673.htm">国内供应商(10)</a>
                </li>
                <li>
                    <a target="_blank" href="ProdSupplierGWCB7168673.htm">国外供应商(5)</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB7168673.htm">化学性质</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB7168673.htm#MSDSA">MSDS(0)</a>

                </li>
                <li>
                    <a target="_blank" class="btn btn-primary btn-xs" href="compare_price.html">查询比价</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table class="mid">
    <tbody>
    <tr>
        <td class="fbox">
            <img alt="" src="154287-01-1.gif" onload="setpicWH(this,140,90)" height="90" width="126"
                 style="display: block;">
            <br>
            <a style="font-size:9pt;" href="154287-01-1.gif">PreView</a>
        </td>
        <td>
            <table class="mbox">
                <tbody>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">英文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">1-BUTYLINDOLE-3-CARBOXYLIC
                        ACID</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">中文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">1-丁基吲哚-3-羧酸</a>
                    </td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MF：</font></td>
                    <td>C13H15NO2</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MW：</font></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">CAS：</font></td>
                    <td>154287-01-1</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MOL：</font></td>
                    <td><a href="CAS\MOL\154287-01-1.mol">Mol file</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="sbox" style="font-size:10pt;">
            <ul class="actionspro">
                <li>
                    <a target="_blank" href="ProdSupplierGNCB12452860.htm">国内供应商(0)</a>
                </li>
                <li>
                    <a target="_blank" href="ProdSupplierGWCB12452860.htm">国外供应商(0)</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB12452860.htm">化学性质</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB12452860.htm#MSDSA">MSDS(0)</a>

                </li>
                <li>
                    <a target="_blank" class="btn btn-primary btn-xs" href="compare_price.html">查询比价</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table class="mid">
    <tbody>
    <tr>
        <td class="fbox">
            <img alt="" src="945655-37-8.gif" onload="setpicWH(this,140,90)" width="140" height="84"
                 style="display: block;">
            <br>
            <a style="font-size:9pt;" href="945655-37-8.gif">PreView</a>
        </td>
        <td>
            <table class="mbox">
                <tbody>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">英文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">ETHYL
                        6-AMINO-2-METHYL-1H-INDOLE-3-CARBOXYLATE</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">中文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">6-氨基-2-甲基-1H-吲哚-3-羧酸乙酯</a>
                    </td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MF：</font></td>
                    <td>C12H14N2O2</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MW：</font></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">CAS：</font></td>
                    <td>945655-37-8</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MOL：</font></td>
                    <td><a href="CAS\MOL\945655-37-8.mol">Mol file</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="sbox" style="font-size:10pt;">
            <ul class="actionspro">
                <li>
                    <a target="_blank" href="ProdSupplierGNCB12453221.htm">国内供应商(0)</a>
                </li>
                <li>
                    <a target="_blank" href="ProdSupplierGWCB12453221.htm">国外供应商(0)</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB12453221.htm">化学性质</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB12453221.htm#MSDSA">MSDS(0)</a>

                </li>
                <li>
                    <a target="_blank" class="btn btn-primary btn-xs" href="compare_price.html">查询比价</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table class="mid">
    <tbody>
    <tr>
        <td class="fbox">
            <img alt="" src="123604-27-3.gif" onload="setpicWH(this,140,90)" height="90" width="118"
                 style="display: block;">
            <br>
            <a style="font-size:9pt;" href="123604-27-3.gif">PreView</a>
        </td>
        <td>
            <table class="mbox">
                <tbody>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">英文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">4-NITROINDOLE-3-CARBOXYLIC
                        ACID</a></td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">中文名称：</font></td>
                    <td class="rtd"><a class="blue" onclick="blur()"
                                       href="#">4-硝基吲哚-3-羧酸</a>
                    </td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MF：</font></td>
                    <td>C9H6N2O4</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MW：</font></td>
                    <td>206.15</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">CAS：</font></td>
                    <td>123604-27-3</td>
                </tr>
                <tr>
                    <td width="90px" align="right"><font color="#cccccc">MOL：</font></td>
                    <td><a href="CAS\MOL\123604-27-3.mol">Mol file</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td class="sbox" style="font-size:10pt;">
            <ul class="actionspro">
                <li>
                    <a target="_blank" href="ProdSupplierGNCB2170857.htm">国内供应商(0)</a>
                </li>
                <li>
                    <a target="_blank" href="ProdSupplierGWCB2170857.htm">国外供应商(7)</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB2170857.htm">化学性质</a>
                </li>
                <li>
                    <a target="_blank" href="ProductChemicalPropertiesCB2170857.htm#MSDSA">MSDS(0)</a>

                </li>
                <li>
                    <a target="_blank" class="btn btn-primary btn-xs" href="compare_price.html">查询比价</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</body>
</html>